.spot-card {
  max-width: 20rem;
  min-width: 10rem;
}

.spot-card:hover {
  cursor: pointer;
}

.spot-image {
  border-radius: 15px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

.location-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.spot-card-button-wrapper {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.spot-card-button-wrapper > button {
  height: 1.5rem;
  width: 4rem;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  color: white;
  background-color: #666666;
}

.spot-card-button-wrapper > button:hover {
  background-color: gray;
  cursor: pointer;
}
