.spot-card-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 104.5rem;
}

.spot-card-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
