.login-modal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 30rem;
}

.login-label {
  display: flex;
  justify-content: end;
  width: 80%;
  gap: 2rem;
}

/* label {
  display: flex;
  justify-content: space-between;
} */
